/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

#comments {
    padding: 1em;
    font-size: 1em;
    height: 12em;
    max-height: 7em;
    width: 100%;
    max-width: 700px;
    border: #ddd 2px solid;
}

.my-show-hide-animation.ng-hide-add,
.my-show-hide-animation.ng-hide-remove {
    -webkit-transition:1s linear all;
    transition:1s linear all;

    /* remember to add this */
    display:block!important;
    opacity:1;
}
.my-show-hide-animation.ng-hide {
    opacity:0;
}

@media(max-width:767px){
    .show{
        display: none !important;
    }
    .hide{
        display: block !important;
    }
}
@media(min-width:768px){

}
@media(min-width:992px){

}
@media(min-width:1200px){

}

.my-th{
    margin-top: -2.1em;
    padding-left: 2.2em;
    border-bottom: 1px solid rgba(0,0,0,.15);
    font-size: 1.2em;
    line-height: 110%;
    padding: .5em .5em;
    background-color: #fff;
    color: #77bbff;
    -moz-box-shadow: 0 1px 6px rgba(0,0,0,.1);
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.1);
    box-shadow: 0 1px 6px rgba(0,0,0,.1);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    clear: left;
}

.hide{
    display: none;
}
.my-row{
    width: 100%;
    border: 1px solid #AAAAAA;
    left: 10px;
    padding: 10px;
    position: relative;
}

.my-sm-row{
    width: 100%;
    border: 1px solid #AAAAAA;
    left: 10px;
    padding: 10px;
    position: relative;
}
.even {
    background-color: #FFFFFF;
}
.odd {
    background-color: #EEEEEe;
}
.col-narrow-0{
    width: 4.333333333333332%;
}
.col-narrow{
    width: 8.333333333333332%;
}
.col-medium{
    width: 15%;
}

.logout{
    position: absolute;
    background-color: #EEEEEE;
    border-radius: 5px 5px 5px 5px;
    padding: 5px;
    right: 34px;
    top: 15px;
}

.content{
    /*height: 100%;*/
    border-radius: 5px;
    padding: 10px;
}

body {
    padding-bottom: 40px;
    background-color: #eee;
    padding-left: 40px;
    padding-right: 40px;
}

.user{
    top: 20px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

input[type=file].form-control {
    height: 30px;
    padding: 0 12px;
    border-radius: 0;
    border: 0;
    box-shadow: none;
}

.btn-file {
    position: relative;
    overflow: hidden;
    border-radius: 5px !important;
}
/*.btn-file input[type=file] {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
    /*min-width: 100%;*/
    /*min-height: 100%;*/
    /*font-size: 999px;*/
    /*text-align: right;*/
    /*filter: alpha(opacity=0);*/
    /*opacity: 0;*/
    /*outline: none;*/
    /*background: white;*/
    /*cursor: inherit;*/
    /*display: block;*/
/*}*/
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}
