<div class="form-group">
    <span class="panel-title h2">Awards</span>
    <div>&nbsp;</div>
    <div class="table-responsive show" role="menu">
        <div class="my-row row">
            <div class="col-sm-1"><a href="" ng-click="predicate = 'givenDt'; reverse=false">Received</a></div>
            <div class="col-sm-2"><a href="" ng-click="predicate = 'givenDt'; reverse=false">Date</a></div>
            <div class="col-sm-2"><a href="" ng-click="predicate = 'givenTo'; reverse=false">Recipient</a></div>
            <div class="col-sm-3"><a href="" ng-click="predicate = 'award';   reverse=false">Award</a></div>
            <div class="col-sm-3"><a href="" ng-click="predicate = 'awardDt';   reverse=false">Award Received</a></div>
        </div>

        <div class="my-row row" ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="give in gives | orderBy:predicate:true">
            <div >
                <div class="col-sm-1" data-ng-show="userAdmin">
                    <input type="checkbox" tooltip="Distribute Award" ng-model="give.distributed" ng-change="awardDistributed(give)"/>
                </div>
                <div class="col-sm-2 h6">
                    {{give.givenDt | date:'MMM dd yyyy'}}
                </div>
                <div class="col-sm-2 h6">
                    {{give.givenTo}}
                </div>
                <div class="col-sm-3 h6">
                    {{give.award.title}}
                </div>
                <div class="col-sm-3 h6">
                    {{give.awardReceivedDt |  date:'MMM dd yyyy hh:mm:ss'}}
                </div>
            </div>
        </div>
    </div>
    <!--small screen start-->
    <div class="table-responsive hide" role="menu">
        <div ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="praise in praises | orderBy:predicate:true">
            <table data-role="table" data-mode="reflow" class="table-stroke ui-table ui-table-reflow">
                <thead>
                <tr>
                    <th colspan="3" style="width: 100%" class="my-th"> {{praise.praisee}}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="h6">Date</td>
                    <td class="h6">{{praise.praiseDt | date:'MMM dd yyyy'}}</td>
                </tr>
                <tr>
                    <td class="h6">Praiser</td>
                    <td class="h6">{{praise.praiser}}</td>
                </tr>
                <tr>
                    <td class="h6">Praise</td>
                    <td class="h6">{{praise.praise}}</td>
                </tr>
                <tr>
                    <td style="border-bottom: 3px solid #aaa;" class="h6">Comment</td>
                    <td style="width: 100%; border-bottom: 3px solid #aaa;" class="h6">{{praise.comment}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>