<div>
    <span class="panel-title h1">Points</span>
    <ul class="nav">
        <li>Total points received </li>
        <li>Total points to bid {{ user.count }}</li>
    </ul>
</div>
<br>
<div class="table">
    <div data-ng-show="user.count>0">
        <div class="row">
            <div class="form-group col-md-2">
                <label for="peer">Please select a peer:</label>
                <select ng-model="newPraisee" name="reason" id="peer" class="form-control"
                        ng-options="mem.email as mem.firstName + ' ' + mem.lastName for mem in members">
                </select>
            </div>

            <div class="form-group col-md-3">
                <label for="releaseReason">Please select a compliment:</label>
                <select ng-model="newPraise" name="reason" id="releaseReason" class="form-control"
                        ng-options="comp.id as comp.name for comp in compliments">
                </select>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <ul class="list-inline col-md-4">
                    <li><a ng-click="clearPraise()" class="btn btn-default">Cancel</a></li>
                    <li><a ng-click="savePraise()" class="btn btn-primary">Save</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div data-ng-hide="user.count>0">
        <div class="panel-title h2">You have no remaining points to give.</div>
    </div>
    <div class="form-group">
        <span class="panel-title h2">History</span>
        <table class="table table-striped table-bordered" role="menu">
            <tbody>
            <th class="col-narrow-0">----</th>
            <th>Date</th>
            <th>Praiser</th>
            <th>Praisee</th>
            <th>Praise</th>

            <tr ng-repeat="praise in praises">
                <td class="col-narrow-0">
                    <button tooltip="Delete Praise" class="btn btn-danger" ng-click="deletePraise(praise)" value="delete"/>
                </td>
                <td class="col-narrow h6">
                    {{praise.praiseDt}}
                </td>
                <td class="col-medium">
                    {{praise.praiser}}
                </td>
                <td class="col-medium">
                    {{praise.praisee}}
                </td>
                <td>
                    {{compliments[praise.praise].name}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


